[MASTER]
ignore=venv,build,dist
init-hook="import sys; sys.path.append('./app')"
load-plugins=pylint.extensions.mccabe

[MESSAGES CONTROL]
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    R0903,  # Too few public methods
    W1203

[FORMAT]
max-line-length=120

[DESIGN]
max-attributes=10
max-args=5
max-locals=15

[REPORTS]
output-format=colorized